@font-face {
  font-family: GreatVibes;
  src: url(fonts/GreatVibes-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: GreatVibes, cursive;
  color: black;
  letter-spacing: 0.05em;
}

body {
  width: 100%;
  height: 100%;
  background: #f8ce9d;
}

/* @@ */
/* ******************* */
/* ******************* */
/* ******************* */
/*  flexbox et barre de navigation*/
.dropdown {
  display: none;
}

.dic {
  /* change de colonne en ligne par defaut */
  display: flex;
  /* pour voir le conteneur */
  border: 10px solid rgb(234, 151, 91);
  height: 70px;
  background-color: #d4780f;
  position: sticky;
  top: 0px;
  /* inverse */
  /* flex-direction: row-reverse; */
  /* flex-direction: column-reverse; */
  /* place tout a droite */
  /* justify-content: flex-end; */
  /* ca marche sans enlever la ligne prec */
  justify-content: center;
  /* justify-content: space-between; */
  /* espacer partout */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-content: center; */
  /* ca marche avec wrap  */
  /* flex-wrap: wrap-reverse; */
  /* column-gap: 1em; */
  /* row-gap: 2em; */
}

.boxx {
  width: 150px;
  height: 30px;
  font-size: 1.7em;
  text-align: center;
  /* border-radius: 50px; */
  /* background-color: rgb(160, 116, 75); */
  /* top: 120px; */
  /* left: 20px; */
}

.dic a {
  color: rgb(14, 14, 13);
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.dic a:hover {
  background-color: rgb(209, 144, 76);
}

/* 
#boxx1 {
  background-color: red;
  /* align-self: center; */
/* order: 1; */
/* met le div 1er 
  order: -1;
}
*/
/* #boxx2 {
  background-color: yellow;
}
#boxx3 {
  background-color: green;
}
#boxx4 {
  background-color: blue;
}  */

/* @@ */
/* ******************* */
/* ******************* */
/* ******************* */
/* accueil */

.box {
  border: 2px solid whitesmoke;
  /* padding espace dans le div (texte et bordure */
  padding: 10px;
  /* met les deux div a cote au lieu de dessous */
  box-sizing: border-box;
  height: auto;
  /* width: 100px; mettre tout a gauche */
  /*  par defaut */
  /* width: auto; */
  width: 50%;
  /* float: left; */
  /* chage la position des box */
  float: left;

  text-align: left;
  /* max-width: 25%; */
  /* min-width: 75%; enleve leffet de box sizing */

  /* du contener parent */
  min-height: 50%;
}

.box img {
  float: inline-end;
  height: 750px;
}

/* pour tout les element(balises) on utilise * */
/* * {
  box-sizing: border-box;
} */

.box h1 {
  font-size: 50px;
}

.Accueil {
  border: 2px solid rgb(184, 53, 53);
  /* vh viewport height */
  height: 100vh;
}

.p1 {
  text-align: left;
  font-size: 30px;
  /* color: rgb(119, 68, 20); */
  color: black;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 600px) {
  aside,
  section,
  article {
    width: 100%;
  }
}

/* @@ */
/* ******************* */
/* ******************* */
/* ******************* */
/*propos*/
#Propos {
  border: 10px solid salmon;
  padding-bottom: 30px;
  height: 100vh;
}

.Propos {
  border: 2px solid rgb(184, 53, 53);
  /* vh viewport height */
  height: 55vh;
}

.Propos h2 {
  font-size: 40px;
}

.Propos p {
  font-size: 30px;
}

.Propos li {
  font-size: 40px;
}

.box1 {
  border: 2px solid whitesmoke;
  /* padding espace dans le div (texte et bordure */
  padding: 20px;
  /* met les deux div a cote au lieu de dessous */
  box-sizing: border-box;
  height: auto;
  /* width: 100px; mettre tout a gauche */
  /*  par defaut */
  /* width: auto; */
  width: 47%;
  /* float: left; */
  /* chage la position des box */
  float: left;

  text-align: left;
  /* max-width: 25%; */
  /* min-width: 75%; enleve leffet de box sizing */

  /* du contener parent */
  min-height: 50%;
}

.box1 img {
  float: inline-end;
  height: 300px;
  width: 80%;
}

/* @@ */
/* ******************* */
/* ******************* */
/* ******************* */
/*galerie*/
#Galerie {
  /* il faut mettre la taille */
  width: 100%;
  height: 100%;
  padding-top: 20vh;
  display: flex;
  /* flex-direction: row; */
  border: 10px solid salmon;
  /* padding-bottom: 30px; */
  flex-wrap: wrap;
  /* centre horizontalement */
  align-items: center;
  justify-content: center;
}

.h2galerie {
  height: 20vh;
  font-size: 50px;
  text-align: center;

  /* padding-bottom: 30vh; */
}

#boxx3 a::after {
  transition: all 0.4s ease;
}

.divEspacement {
  border: 10px solid salmon;
  height: 100vh;
}

.galery {
  display: inline-block;
  /* pas besoin */
  /* border: 8px solid black; */
  margin: 5px;
  width: 200px;
  /* border-radius: 50px; */
}

.galery .description {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.galery:hover {
  border: 4px solid black;
  border-radius: 50px;
}

.galery img {
  /* width 100% de largeur galery */
  width: 100%;
  height: 200px;
  border-radius: 50px;
}

/* @@ */
/* ******************* */
/* ******************* */
/* ******************* */
/*Contact*/

/* @@ */
/* ******************* */
/* ******************* */
/* ******************* */
/*Media Queries*/
@media (max-width: 1100px) {
  #Galerie,
  .box1,
  .box {
    width: 100%;
  }

  /* .box1 img,
  .box img {
    display: none;
  } */
}

/* Mobiles (écran ≤ 480px) */
@media (max-width: 600px) {
  /* @@ */
  /* ******************* */
  /* ******************* */
  /* ******************* */
  /* dropdown menu */

  .dropdown button {
    background-color: #f8ce9d;
    width: 60px;
    height: auto;
    /* padding: 10px 15px; */
    /* curseur devient pointeur qd il touche */
    /* cursor: pointer; */
  }

  .dropdown img {
    width: 30px;
    height: auto;
  }

  .dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
  }

  .dropdown .content {
    /* qd on appuit la liste sort */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 2px 2px 5px whitesmoke;
  }

  /* faire sortir la liste */
  .dropdown:hover .content {
    display: block;
  }

  .dropdown:hover button {
    background-color: #f8ce9d;
  }

  .dropdown a:hover {
    background-color: blueviolet;
  }

  .dropdown {
    /* inline marche aussi */
    display: inline-block;
  }

  /* ******************* */

  .dic {
    display: none;
  }

  .Propos,
  #Galerie,
  .box1,
  .box {
    width: 100%;
  }

  .box1 li,
  .box1 p,
  .box p {
    font-size: 20px;
  }

  .box img {
    display: none;
  }

  .box1 img {
    width: 100%;
  }
}
